*.pkl
*.pyc
*~

.settings
.pydevproject
.project


results_lichtenberg/
alt/
results/

corpora/
tmp/
models/
lichtenberg_scripts/SingleTask
lichtenberg_scripts/MultiTask

/levy_deps.words
*.pkl
data/ace
data/conll2003_ner
data/ecb+
data/tac2015
data/tempeval3
data/wsj_pos
data/am_
data/removeComments.py
/data/conll2003_ner_german
/data/morphtag-german
/data/morphtag-latin
essay*.txt
essay*.ann
.env
glove*